<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heatmap</title>
  <link rel="stylesheet" href="/src/static/css/index.css">
  <script src="/node_modules/heatmap.js/build/heatmap.min.js"></script>
  <script src="/src/modules/echarts.simple.min.js"></script>
</head>
<body>
  <div id="heatmapContainer"></div>
  <div id="histogramContainer"></div>
  <script src="/src/scripts/renderHeatMap.js"></script>
  <script src="/src/scripts/renderHistogram.js"></script>
</body>
</html>