@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
#heatmapContainer {
  width: 1200px;
  height: 410px;
  background: url('/src/static/image/keyboard.jpg') no-repeat center/contain;
}
#histogramContainer {
  width: 1200px;
  height: 800px;
}